In [28]:
import pandas as pd

In [29]:
order_report = pd.read_csv("../csv/Order Report.csv")
sku_master = pd.read_csv("../csv/SKU Master.csv")
pincode_mapping = pd.read_csv("../csv/pincodes.csv")
courier_invoice = pd.read_csv("../csv/Invoice.csv")
courier_company_rates = pd.read_csv("../csv/Courier Company - Rates.csv")

In [30]:
order_report = order_report.drop(columns=["Unnamed: 3","Unnamed: 4"])
sku_master = sku_master.drop(columns=["Unnamed: 2", "Unnamed: 3", "Unnamed: 4"])
pincode_mapping = pincode_mapping.drop(columns=["Unnamed: 3", "Unnamed: 4"])

In [31]:
order_report.head()

   ExternOrderNo            SKU  Order Qty
0     2001827036  8904223818706        1.0
1     2001827036  8904223819093        1.0
2     2001827036  8904223819109        1.0
3     2001827036  8904223818430        1.0
4     2001827036  8904223819277        1.0

In [32]:
sku_master.head()

             SKU  Weight (g)
0  8904223815682         210
1  8904223815859         165
2  8904223815866         113
3  8904223815873          65
4  8904223816214         120

In [37]:
merged_data = pd.merge(order_report, sku_master, on="SKU")
merged_data = merged_data.rename(columns={"ExternOrderNo":"Order ID"})
merged_data.head()

     Order ID            SKU  Order Qty  Weight (g)
0  2001827036  8904223818706        1.0         127
1  2001821995  8904223818706        1.0         127
2  2001819252  8904223818706        1.0         127
3  2001816996  8904223818706        1.0         127
4  2001814580  8904223818706        1.0         127

In [45]:
pincode_mapping

     Warehouse Pincode  Customer Pincode Zone
0               121003            507101    d
1               121003            486886    d
2               121003            532484    d
3               121003            143001    b
4               121003            515591    d
..                 ...               ...  ...
119             121003            325207    b
120             121003            303702    b
121             121003            313301    b
122             121003            173212    e
123             121003            302020    b

[124 rows x 3 columns]

In [47]:
abc_courier = pincode_mapping.drop_duplicates(subset=["Customer Pincode"])
courier_abc = courier_invoice[['Order ID', 'Customer Pincode','Type of Shipment']]
pincodes = courier_abc.merge(abc_courier, on="Customer Pincode")
pincodes

,Order ID,Customer Pincode,Type of Shipment,Warehouse Pincode,Zone
0,2001806232,507101,Forward charges,121003,d
1,2001806273,486886,Forward charges,121003,d
2,2001806408,532484,Forward charges,121003,d
3,2001806458,143001,Forward charges,121003,b
4,2001807012,515591,Forward charges,121003,d
...,...,...,...,...,...
119,2001811039,302020,Forward charges,121003,b
120,2001811305,302020,Forward charges,121003,b
121,2001812941,325207,Forward charges,121003,b
122,2001809383,303702,Forward and RTO charges,121003,b
123,2001820978,313301,Forward charges,121003,b

In [48]:
merged_data

       Order ID            SKU  Order Qty  Weight (g)
0    2001827036  8904223818706        1.0         127
1    2001821995  8904223818706        1.0         127
2    2001819252  8904223818706        1.0         127
3    2001816996  8904223818706        1.0         127
4    2001814580  8904223818706        1.0         127
..          ...            ...        ...         ...
396  2001806616  8904223819123        1.0         250
397  2001806567  8904223815804        1.0         160
398  2001806567  8904223818577        1.0         150
399  2001806408  8904223819437        2.0         552
400  2001806232  8904223818645        6.0         137

[401 rows x 4 columns]

In [49]:
pincodes

,Order ID,Customer Pincode,Type of Shipment,Warehouse Pincode,Zone
0,2001806232,507101,Forward charges,121003,d
1,2001806273,486886,Forward charges,121003,d
2,2001806408,532484,Forward charges,121003,d
3,2001806458,143001,Forward charges,121003,b
4,2001807012,515591,Forward charges,121003,d
...,...,...,...,...,...
119,2001811039,302020,Forward charges,121003,b
120,2001811305,302020,Forward charges,121003,b
121,2001812941,325207,Forward charges,121003,b
122,2001809383,303702,Forward and RTO charges,121003,b
123,2001820978,313301,Forward charges,121003,b

In [50]:
merged2 = merged_data.merge(pincodes, on="Order ID")
merged2

,Order ID,SKU,Order Qty,Weight (g),Customer Pincode,Type of Shipment,Warehouse Pincode,Zone
0,2001827036,8904223818706,1.0,127,173213,Forward charges,121003,e
1,2001827036,8904223819093,1.0,150,173213,Forward charges,121003,e
2,2001827036,8904223819109,1.0,100,173213,Forward charges,121003,e
3,2001827036,8904223818430,1.0,165,173213,Forward charges,121003,e
4,2001827036,8904223819277,1.0,350,173213,Forward charges,121003,e
...,...,...,...,...,...,...,...,...
396,2001806251,8904223819161,1.0,115,743263,Forward charges,121003,d
397,2001806251,8904223819260,1.0,130,743263,Forward charges,121003,d
398,2001806233,8904223819161,1.0,115,263139,Forward charges,121003,b
399,2001806233,8904223819260,1.0,130,263139,Forward charges,121003,b
400,2001807328,8904223818997,1.0,490,335502,Forward charges,121003,b

In [52]:
merged2['Weights (Kgs)'] = merged2['Weight (g)']/1000
merged2

,Order ID,SKU,Order Qty,Weight (g),Customer Pincode,Type of Shipment,Warehouse Pincode,Zone,Weights (Kgs)
0,2001827036,8904223818706,1.0,127,173213,Forward charges,121003,e,0.127
1,2001827036,8904223819093,1.0,150,173213,Forward charges,121003,e,0.150
2,2001827036,8904223819109,1.0,100,173213,Forward charges,121003,e,0.100
3,2001827036,8904223818430,1.0,165,173213,Forward charges,121003,e,0.165
4,2001827036,8904223819277,1.0,350,173213,Forward charges,121003,e,0.350
...,...,...,...,...,...,...,...,...,...
396,2001806251,8904223819161,1.0,115,743263,Forward charges,121003,d,0.115
397,2001806251,8904223819260,1.0,130,743263,Forward charges,121003,d,0.130
398,2001806233,8904223819161,1.0,115,263139,Forward charges,121003,b,0.115
399,2001806233,8904223819260,1.0,130,263139,Forward charges,121003,b,0.130
400,2001807328,8904223818997,1.0,490,335502,Forward charges,121003,b,0.490

In [53]:
def weight_slab(weight):
    i = round(weight % 1, 1)
    if i == 0.0:
        return weight
    elif i > 0.5:
        return int(weight) + 1
    else: 
        return int(weight) + 0.5

In [54]:
merged2["Weights (Kgs)"] = merged2["Weights (Kgs)"].apply(weight_slab)

In [55]:
courier_invoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4
...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4

In [56]:
courier_invoice["Weight Slab Charged by Courier Company"] = courier_invoice['Charged Weight'].apply(weight_slab)

In [59]:
courier_invoice = courier_invoice.rename(columns={'Zone': 'Delivery Zone Charged by Courier Company'})
courier_invoice

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Delivery Zone Charged by Courier Company,Type of Shipment,Billing Amount (Rs.),Weight Slab Charged by Courier Company
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,135.0,1.5
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,90.2,1.0
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,2.5
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,1.0
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,0.5
...,...,...,...,...,...,...,...,...,...
119,1091118551656,2001812941,0.73,121003,325207,d,Forward charges,90.2,1.0
120,1091117614452,2001809383,0.50,121003,303702,d,Forward and RTO charges,86.7,0.5
121,1091120922803,2001820978,0.50,121003,313301,d,Forward charges,45.4,0.5
122,1091121844806,2001811475,0.50,121003,173212,b,Forward charges,33.0,0.5
123,1091121846136,2001811305,0.50,121003,302020,d,Forward charges,45.4,0.5

In [60]:
merged2

,Order ID,SKU,Order Qty,Weight (g),Customer Pincode,Type of Shipment,Warehouse Pincode,Zone,Weights (Kgs)
0,2001827036,8904223818706,1.0,127,173213,Forward charges,121003,e,0.5
1,2001827036,8904223819093,1.0,150,173213,Forward charges,121003,e,0.5
2,2001827036,8904223819109,1.0,100,173213,Forward charges,121003,e,0.5
3,2001827036,8904223818430,1.0,165,173213,Forward charges,121003,e,0.5
4,2001827036,8904223819277,1.0,350,173213,Forward charges,121003,e,0.5
...,...,...,...,...,...,...,...,...,...
396,2001806251,8904223819161,1.0,115,743263,Forward charges,121003,d,0.5
397,2001806251,8904223819260,1.0,130,743263,Forward charges,121003,d,0.5
398,2001806233,8904223819161,1.0,115,263139,Forward charges,121003,b,0.5
399,2001806233,8904223819260,1.0,130,263139,Forward charges,121003,b,0.5
400,2001807328,8904223818997,1.0,490,335502,Forward charges,121003,b,0.5

In [64]:
merged2 = merged2.rename(columns={'Zone': 'Delivery Zone As Per ABC'})
merged2 = merged2.rename(columns={'Weights (Kgs)': 'Weight Slab As Per ABC'})
merged2

,Order ID,SKU,Order Qty,Weight (g),Customer Pincode,Type of Shipment,Warehouse Pincode,Delivery Zone As Per ABC,Weight Slab As Per ABC
0,2001827036,8904223818706,1.0,127,173213,Forward charges,121003,e,0.5
1,2001827036,8904223819093,1.0,150,173213,Forward charges,121003,e,0.5
2,2001827036,8904223819109,1.0,100,173213,Forward charges,121003,e,0.5
3,2001827036,8904223818430,1.0,165,173213,Forward charges,121003,e,0.5
4,2001827036,8904223819277,1.0,350,173213,Forward charges,121003,e,0.5
...,...,...,...,...,...,...,...,...,...
396,2001806251,8904223819161,1.0,115,743263,Forward charges,121003,d,0.5
397,2001806251,8904223819260,1.0,130,743263,Forward charges,121003,d,0.5
398,2001806233,8904223819161,1.0,115,263139,Forward charges,121003,b,0.5
399,2001806233,8904223819260,1.0,130,263139,Forward charges,121003,b,0.5
400,2001807328,8904223818997,1.0,490,335502,Forward charges,121003,b,0.5

In [67]:
# Initialize a list to store total expected charges
total_expected_charge = []

# Loop through rows of 'merged2' DataFrame
for _, row in merged2.iterrows():
    fwd_category = 'fwd_' + row['Delivery Zone As Per ABC']
    fwd_fixed = courier_company_rates.at[0, fwd_category + '_fixed']
    fwd_additional = courier_company_rates.at[0, fwd_category + '_additional']
    rto_category = 'rto_' + row['Delivery Zone As Per ABC']
    rto_fixed = courier_company_rates.at[0, rto_category + '_fixed']
    rto_additional = courier_company_rates.at[0, rto_category + '_additional']

    weight_slab = row['Weight Slab As Per ABC']

    if row['Type of Shipment'] == 'Forward charges':
        additional_weight = max(0, (weight_slab - 0.5) / 0.5)
        total_expected_charge.append(fwd_fixed + additional_weight * fwd_additional)
    elif row['Type of Shipment'] == 'Forward and RTO charges':
        additional_weight = max(0, (weight_slab - 0.5) / 0.5)
        total_expected_charge.append(fwd_fixed + additional_weight * (fwd_additional + rto_additional))
    else:
        total_expected_charge.append(0)

In [69]:
merged2['Expected Charge as per ABC'] = total_expected_charge

In [70]:
merged_output = merged2.merge(courier_invoice, on='Order ID')

In [71]:
df_diff = merged_output
df_diff['Difference (Rs.)'] = df_diff['Billing Amount (Rs.)'] - df_diff['Expected Charge as per ABC']

In [72]:
df_new = df_diff[['Order ID', 'Difference (Rs.)', 'Expected Charge as per ABC']]